<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        

    </style>
</head>
<body>
    <div class="header">
        <h1>FORM  <%= names %>
        </h1>
        <main>
            <form action="/" method="POST">
                <input type="text" placeholder="enter name"  name="name" required/>
                <input type="password" placeholder="enter password" name="email" required />
                <button type="submit">submit</button>
            </form>
        </main>

    </div>
</body>
</html>