<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
        }

        button{
            color: #111;
            background-color: greenyellow;
            border-radius: 15px;
            padding: 5px 20px;
        }
    </style>

</head>
<body>
    
    <h1>Welcome </h1>
    <p style="color:#555">There is a lot you can do here including changing your profile and access whonall can see your profile
        please dont shy away from editing whatever info you want to in your profile
    </p>

    <h2>Name</h2>
   <h3>  </h3>

    <hr/>

    <h2>Email</h2>
    <h3></h3>
    <form action="/logout" method="get">
        <button type="submit">LOGOUT</button>
    </form>

</body>
</html>